[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "thirdparty/ImGuiFileDialog"]
	path = thirdparty/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "thirdparty/glew-cmake"]
	path = thirdparty/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
